.body{
    .header{
        .card-img-top{
            margin: auto;
            display: flex;
            .imagen-a{
                background-position: center;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                height: 250px;
                width: 250px;
                &-b{
                    background-position: center;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &-b img{
                        background-position: center;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 200px;
                        width: 250px;
                        border-color: #0d523b;
                        border-style: solid;
                        border-radius: 20px;
                        box-shadow: 5px 10px 7px rgba(0,0,0,0.5), -5px -10px 7px rgba(0,0,0,0.5);
                        &-c{
                            background-position: center;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &-c img{
                                background-position: center;
                                margin: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 400px;
                                height: 250px;
                                border-radius: 10px;
                                margin-top: 30px;
                                &-dos{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-position: center;
                                    margin: auto;
                                    margin: 30px;
                                    &-dos img{
                                        background-position: center;
                                        margin: auto;
                                        margin: 30px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 400px;
                                        height: 250px;
                                        border-radius: 10px;
                                        border-style: solid;
                                        border-color: #6bc0a4;
                                        box-shadow: 5px 10px 7px rgba(0,0,0,0.5), -5px -10px 7px rgba(0,0,0,0.5);
                                        &-d{
                                            background-position: center;
                                            margin: auto;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            &-8{
                                                background-image: url(../imagenes/tenebrios.png);
                                                height: 20%;
                                                width: 100%;
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                background-position: center;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                &-9{
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    margin: 10px;
                                                    &-9 img{
                                                        background-image: url(../imagenes/alimentacion-de-erizos.jpg);
                                                        margin: 30px;
                                                        background-repeat: no-repeat;
                                                        background-size: cover;
                                                        background-position: center;
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        border-radius: 1%;
                                                        &-uno{
                                                            padding: 10px;
                                                            display: flex;
                                                            justify-content: center;
                                                            align-items: center;
                                                            &-uno img{
                                                                width: 100px;
                                                                height: 100px;
                                                                border-radius: 50%;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}