.tabla-d{
    display: flex;
    margin: auto;
    color: #000000;
    background-color: #6bc0a449;
}
.th{
    font-size: 1.2rem;
    color: #000000;
}
.td{
    font-size: 1.1rem;
    color: #000000;
}