.card{
    border-radius: 10px;
    margin: 30px;
    border-style: solid;
    border-color: #096e4d;
    box-shadow: 5px 10px 7px rgba(0,0,0,0.5), -5px -10px 7px rgba(0,0,0,0.5);
    &-body{
        background-color: #befde8b7;
        color: #096e4d;
        font-size: 1rem;
        &-title{
            background-position: center;
            justify-content: center;
            align-items: center;
            &-group{
                margin: auto;
                display: flex;
            }
        }
    }
}