body{
    main{
        section{
            .card-group{
                margin: auto;
                display: flex;
                .card{
                    border-radius: 10px;
                    margin: 30px;
                    border-style: solid;
                    border-color: #096e4d;
                    .card-body{
                        background-color: #befde8b7;
                        color: #096e4d;
                        font-size: 1rem;
                        .card-title{
                            background-position: center;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            .card.text{
                                text-align: center;
                                color: #000000;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}